/* CSS edit- video, fonts, content */
* {
  margin: 0;
  position: relative;
  padding: 80;
  box-sizing: border-box;
} 
body {
  min-height: 60vh;
  background: black
}
h1 {
text-align: center;
margin-top: 4px;
font-family: 'Lato', sans-serif;
font-weight: 600;
color: #fff;
}

h2 {
  font-family: 'Lato', sans-serif;
text-align: center;
color: #fff;
}
.contactWrapper {
  margin-left: 20px;
  position: static;
   overflow:hidden;
   display:inline-block;

  }
tr {
display:grid;
margin-top: 20px;
font-family: 'Lato', sans-serif;
color: #fff;
}
#map {
  height: 40px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
i {

  display: flex;
}
.slide-menu {

  width: 290px;
  right: 0px;
  padding: 10px;
 margin-right: 40px;
  position: relative;
  margin-block: 20px;
  width: 80%;
  height: 480px;
  float: right;
  /* position:relative; */
  overflow: hidden;
  border-radius: 5px;
}
input {
  visibility: hidden;
  opacity: 0;
}
label {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 10;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  background: lightcyan;
  transition: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
label[for="slider2"] {
  margin-top: 20px;
}
label[for="slider3"] {
  margin-top: 40px;
}
label[for="slider4"] {
  margin-top: 60px;
}
label[for="slider5"] {
  margin-top: 80px;
}

input:checked + label,
label:hover {
  background: #fff;
}

.slide {
  position: absolute;
  top: 0;
  left: 0; 
  z-index: -1;
  transform: translateY(-100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition-duration: 0.8s;
  opacity: 1;
  transform-origin: 50% 50%;
}
input:checked + .slide {
  transform: translateY(100%);
}
input:checked + label + .slide {
  transform: translateY(0);
  opacity: 1;
}
.slide1 {
  background-color: cornflowerblue;
}
.slide2 {
  background-color: silver;
}
.slide3 {
  background-color: teal;
}
.slide4 {
  background-color: thistle;
  text-align: center;
}
/* .slide5 {
  background-color: bisque;
} */
